<template>
  <div class="content" :title="sticker.name">
    <div class="sticker-body" :style="{'color':sticker.border}">
      <p class="sticker-name">{{sticker.name}}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Utils } from "../types/utils";
import { TSticker } from "../types/sticker";

@Component
export default class Sticker extends Vue {
  @Prop() private sticker: TSticker;
}
</script>

<style lang="scss">
.sticker {
  width: 145px;
  height: 150px;
  background: rgba(201, 219, 251, 0.81);
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;

  .sticker-body {
    padding: 5px;
  }
  .sticker-name {
    font-weight: 600;
  }

  p {
    margin: 0;
  }
}
</style>
