<template>
  <div
    class="time-line-grid-container"
    :style="{'width':width, 'height':height}"
    ref="container"
    v-on:mouseup="recalcPosition"
  >
    <!-- stickers -->
    <div
      :key="sticker.id + index"
      :id="sticker.id"
      v-for="(sticker, index) in stickers"
      :style="getStickerStyle(sticker)"
      class="sticker"
      @click="$emit('select', sticker)"
    >
      <div
        :id="sticker.id"
        v-dragDropDirective="stickerMove"
        @mouseover="hoverStickerId = sticker.id"
        @mouseleave="hoverStickerId = null"
        :style="{'border-top':'3px solid ' + (sticker.border)}"
        class="sticker-header"
      >
        <i :class="sticker.icon || 'fa fa-check'" :style="{'color':sticker.border}"></i>
        <small
          :style="{'color':sticker.border}"
          class="sticker-time"
        >{{ getTimeStr(sticker.from) }} - {{ getTimeStr(sticker.to) }}</small>
      </div>
      <sticker :sticker="sticker" />
      <div
        class="sticker-resize"
        :id="sticker.id"
        v-dragDropDirective="resizeSticker"
        :style="{'background':sticker.border}"
        @mouseover="hoverStickerId = sticker.id"
        @mouseleave="hoverStickerId = null"
      ></div>
    </div>
    <!-- columns -->
    <!-- <div class="columns" :style="{'top':scrollTopValue+'px'}">     -->
    <div class="columns">
      <ul>
        <li
          ref="column"
          :id="column.id"
          :key="column.id"
          class="column-name"
          v-for="column in columns"
        >
          <img class="ava" :src="column.ava" alt />
          {{column.name}}
        </li>
      </ul>
    </div>

    <div class="time-line" ref="timeLine" :style="{'left':scrollLeftValue+'px'}">
      <ul>
        <li :key="index" v-for="(item, index) in timeLine.list">{{item.getTimeStr()}}</li>
      </ul>
    </div>
    <!-- grid -->
    <div class="grid">
      <ul>
        <li :key="rootIndex" v-for="(item, rootIndex) in timeLine.list">
          <div
            class="cell"
            ref="cells"
            :style="{'background':(columns[index].id+'_'+rootIndex +'_'+n==hoverCellId && moveStickerId ? '#2196f33d' : 'transparent')}"
            :id="columns[index].id+'_'+rootIndex +'_'+n"
            :key="n"
            v-for="(n, index) in columns.length"
          ></div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import "../../assets/font-awesome/css/font-awesome.min.css";
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { TimeLine } from "./types/timeline";
import { Column, InterfaceColumn } from "./types/column";
import { TSticker, TCoord } from "./types/sticker";
import { DateType } from "./types/datetype";
import dragDropDirective from "./directives/drag-drop";
import { Utils } from "./types/utils";
import Sticker from "./sticker/sticker.vue";
import { TCell } from "./types/cell";
import { RecalcPosition } from "./types/recalc-position";
@Component({
  directives: {
    dragDropDirective
  },
  components: {
    Sticker
  }
})
export default class TaskManager extends Vue {
  @Prop() private timeFrom: number;
  @Prop() private timeTo: number;
  @Prop() private width: string;
  @Prop() private height: string;
  @Prop() private data: any;

  columns: Array<Column> = [];
  timeLine: TimeLine;
  hoverCellId: string = "";
  cells: Array<TCell> = [];
  stickers: Array<TSticker> = [];
  scrolledTop: number = 0;
  scrolledLeft: number = 0;
  moveStickerId: string = "";
  hoverStickerId: string = "";

  container: HTMLElement;
  containerPosition: {
    top: number;
    left: number;
    width: number;
    height: number;
  };
  
  columnsPosition: { top: number; height: number };

  getTimeStr(date: Date): string {
    return Utils.formatDate(date, "HH:mm:ss");
  }

  get scrollTopValue() {
    return this.scrolledTop;
  }

  get scrollLeftValue() {
    return this.scrolledLeft;
  }

  getStickerStyle(sticker: TSticker) {
    return {
      left: sticker.left + "px",
      top: sticker.top + "px",
      height: sticker.height + "px",
      width: sticker.width + "px",
      zIndex: this.hoverStickerId === sticker.id ? 9999 : sticker.zIndex,
      background: sticker.background
    };
  }

  created() {
    this.timeLine = new TimeLine(this.timeFrom, this.timeTo);
  }

  mounted() {
    this.container = this.$refs.container as HTMLElement;
    this.container.addEventListener("scroll", this.handleScroll);
    window.addEventListener("scroll", this.handleScroll);
    this.timeLine.el = this.$refs.timeLine as HTMLDivElement;
    this.refresh();
  }

  refresh() {
    this.container.scrollLeft = 0;
    this.container.scrollTop = 0;
    this.columns = [];
    this.data.forEach((d: InterfaceColumn) => {
      const column = new Column(d.name, d.ava);
      d.stickers.forEach((t: TSticker) => {
        const date1 = new Date(t.from);
        const date2 = new Date(t.to);

        column.addSticker({
          ...t,
          height: 0,
          left: 0,
          top: 0,
          id: Utils.getUniqId(),
          column: column,
          from: date1,
          to: date2
        });
      });
      this.columns.push(column);
    });
    this.$nextTick(this.createStickers);
    this.$nextTick(this.getCells);
  }

  createStickers() {
    this.scrolledTop = window.scrollY;
    this.scrolledLeft = window.scrollX;
    this.containerPosition = (this.$refs
      .container as HTMLElement).getBoundingClientRect();

    const columns = (this.$refs.column as Array<HTMLElement>) || [];
    this.stickers = [];
    columns.forEach(el => {
      const { left, width, height } = el.getBoundingClientRect();
      const top =
        el.getBoundingClientRect().top -
        this.containerPosition.top -
        this.scrolledTop;

      this.columnsPosition = { top, height };
      const id = el.getAttribute("id");
      const column = this.columns.find(u => u.id == id) as Column;
      column.stickers.forEach(sticker => {
        sticker.left = left - this.scrolledLeft + 4;
        sticker.top =
          top +
          this.timeLine.calcTimeToPos(sticker.from) -
          (this.columnsPosition.height - this.scrolledTop);
        sticker.height =
          this.timeLine.calcTimeToPos(sticker.to) -
          this.timeLine.calcTimeToPos(sticker.from);
        sticker.width = width - 8;
        this.stickers.push(sticker);
      });
    });

    this.recalcPosition();
  }

  getData() {
    return this.columns.map(col => {
      return {
        id: col.id,
        name: col.name,
        ava: col.ava,
        stickers: col.stickers.map(s => {
          return {
            id: s.id,
            name: s.name,
            from: s.from,
            to: s.to,
            background: s.background,
            icon: s.icon
          };
        })
      };
    });
  }

  recalcPosition() {
    this.moveStickerId = "";
    const columns = (this.$refs.column as Array<HTMLElement>) || [];
    columns.forEach(el => {
      const { left, top, width } = el.getBoundingClientRect();
      const stickers: Array<TSticker> =
        this.stickers.filter(s => s.column.id === el.getAttribute("id")) || [];

      stickers.forEach(sticker => {
        sticker.left = left + this.scrolledLeft + 4;
        sticker.width = width - 8;
      });
    });

    const recalcPos = new RecalcPosition(this.stickers);
    recalcPos.recalc();
  }

  getCells() {
    this.cells = ((this.$refs.cells as Array<any>) || []).map(
      (e: HTMLElement) => {
        const id: string = e.id;
        const { left, top, width, height } = e.getBoundingClientRect();
        return { id, left, top: top + this.scrolledTop, width, height };
      }
    );
  }

  handleScroll() {
    this.scrolledTop = this.container.scrollTop + window.scrollY;
    this.scrolledLeft = this.container.scrollLeft;
  }

  stickerMove(coord: TCoord) {
    this.moveStickerId = coord.id;
    const { id, left, top, right } = coord;
    let hoverColumnId: string;
    const calcTop = top + this.scrolledTop - this.containerPosition.top;
    const calcLeft = left + this.scrolledLeft;
    this.cells.forEach(cell => {
      if (
        (calcLeft > cell.left ||
          right > cell.left - this.scrolledLeft + cell.width / 2) &&
        top > cell.top - this.scrolledTop
      ) {
        hoverColumnId = cell.id.split("_")[0];
        this.hoverCellId = cell.id;
      }
    });

    const sticker = this.stickers.find(sticker => sticker.id === id);
    if (sticker) {
      this.hoverStickerId = sticker.id;
      const limitFrom = this.timeLine.list[0];
      const limitTo = this.timeLine.list[this.timeLine.list.length - 1];

      const from = new Date(
        sticker.from.toDateString() +
          " " +
          this.timeLine.calcPosToTime(
            calcTop + (this.columnsPosition.height - this.columnsPosition.top)
          )
      );

      const column = this.columns.find(u => u.id === hoverColumnId) as Column;
      if (column) sticker.column = column;

      if (from.getHours() < limitFrom.date.getHours()) {
        sticker.left = calcLeft;
        return;
      }

      let diff = Utils.getDiff(sticker.from, sticker.to);

      if (
        new Date(Utils.addTime(from, diff)).getHours() > limitTo.date.getHours()
      ) {
        sticker.left = calcLeft;
        return;
      }

      sticker.left = calcLeft;
      sticker.top = calcTop;
      diff = Utils.getDiff(sticker.from, sticker.to);
      sticker.from = from;
      const to = new Date(Utils.addTime(sticker.from, diff));
      sticker.to = to;
    }
  }

  resizeSticker(coord: TCoord) {
    const { id, left, top } = coord;
    this.moveStickerId = "";
    const sticker = this.stickers.find(sticker => sticker.id === id);
    if (sticker) {
      //this.hoverStickerId = sticker.id;
      const limit = this.timeLine.list[this.timeLine.list.length - 1];
      const calcHeight =
        top -
        (sticker.top - 10) +
        this.scrolledTop -
        this.containerPosition.top;
      const to = new Date(
        sticker.from.toDateString() +
          " " +
          this.timeLine.calcPosToTime(
            sticker.top +
              calcHeight +
              (this.columnsPosition.height - this.columnsPosition.top)
          )
      );
      // if height > timeline height
      if (to.getHours() > limit.date.getHours()) {
        return;
      }

      sticker.height = calcHeight;
      sticker.to = to;
    }
  }

  destroyed(): void {
    this.container.removeEventListener("scroll", this.handleScroll);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
ul {
  padding: 0;
  margin: 0;
}
.columns {
  left: 0;
  z-index: 11;
  position: absolute;
  top: 0;
}
.time-line-grid-container {
  position: relative;
  padding-left: 70px;
  padding-top: 40px;
  overflow: auto;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.time-line {
  position: absolute;
  left: 0;
  top: 40px;
  border-right: 5px solid #e6e6e7;
  background: #fbfcfc;
  color: #757f8c;
  font-size: 16px;
  z-index: 10;
  li {
    width: 65px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    flex-shrink: 0;
    font-size: 0.8em;
  }
  float: left;
}
.grid {
  li {
    display: flex;
  }
  .cell {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #ffffff;
    width: 150px;
    height: 80px;
    flex-shrink: 0;
  }
}
.columns {
  background: #f3f4f5;
  padding-left: 70px;
  border-bottom: 5px solid #e6e6e7;
  height: 40px;
  .column-name {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ccc;
    border-bottom: 5px solid #e6e6e7;
    background: #f3f4f5;
    .ava {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
  ul {
    display: flex;
    li {
      flex-shrink: 0;
    }
  }
}
.sticker {
  i {
    margin-right: 5px;
    font-size: 0.8em;
  }
  color: #255fbf;
  small {
    font-size: 0.8em;
    font-weight: 600;
  }
  .sticker-header {
    min-height: 25px;
    width: 100%;
    cursor: pointer;
    border-top: 3px solid #255fbf;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .sticker-resize {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 25px;
    background: #255fbf;
    cursor: row-resize;
  }
}
</style>
