<template>
  <div id="app">
    <TaskManager
      ref="taskManager"
      :timeFrom="9"
      :timeTo="19"
      :data="data"
      :width="'100%'"
      :height="'100%'"
      v-on:select="onSelect($event)"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TaskManager from "./components/task-manager/task-manager.vue";
import {
  Column,
  InterfaceColumn
} from "./components/task-manager/types/column";

@Component({
  components: {
    TaskManager
  }
})
export default class App extends Vue {
  data: Array<any> = [
    {
      name: "Denis",
      ava:
        "https://sun9-40.userapi.com/c206516/v206516301/80e11/VbtAk5V96GA.jpg?ava=1",
      stickers: [
        {
          name: "Bags Fix",
          from: "2020-03-14T09:00:00",
          to: "2020-03-14T16:30:00",
          background: "rgba(167, 224, 100, 0.55)",
          border: "rgb(21, 140, 26)",
          icon: "fa fa-bug"
        }
      ]
    },
    {
      name: "John",
      ava:
        "https://sun1.beeline-kz.userapi.com/c851324/v851324928/1bd45e/KePMg8D0d5g.jpg?ava=1",
      stickers: [
        {
          name: "HTML Layout",
          from: "2020-03-14T10:10:00",
          to: "2020-03-14T15:10:01",
          background: "rgba(255, 194, 174, 0.5)",
          border: "#FF5722",
          icon: "fa fa-html5"
        },
        {
          name: "SEO Optimization",
          from: "2020-03-14T16:10:00",
          to: "2020-03-14T17:10:01"
        }
      ]
    },
    {
      name: "Peter",
      ava:
        "https://sun9-27.userapi.com/c855132/v855132413/d934f/qtfO72Me94M.jpg?ava=1",
      stickers: [
        {
          name: "Call to Support",
          from: "2020-03-14T12:00:00",
          to: "2020-03-14T13:00:00",
          background: "rgba(167, 224, 100, 0.55)",
          border: "rgb(21, 140, 26)",
          icon: "fa fa-phone"
        },
        {
          name: "New Design",
          from: "2020-03-14T09:00:00",
          to: "2020-03-14T18:00:00",
          background: "rgba(255, 194, 174, 0.5)",
          border: "#FF5722",
          icon: "fa fa-pencil"
        }
      ]
    },
    {
      name: "James",
      ava:
        "https://sun9-32.userapi.com/c638221/v638221074/6eda/dK6zBqg8lFE.jpg?ava=1",
      stickers: [
        {
          name: "Send Report",
          from: "2020-03-14T10:30:00",
          to: "2020-03-14T12:10:00",
          background: "rgba(255, 190, 92, 0.27)",
          border: "rgb(202, 124, 8)",
          icon: "fa fa-paper-plane"
        }
      ]
    },
    {
      name: "Hillary",
      ava:
        "https://sun9-30.userapi.com/c834102/v834102547/a1009/IH1QkBqSork.jpg?ava=1",
      stickers: [
        {
          name: "Client Call",
          from: "2020-03-14T10:00:00",
          to: "2020-03-14T11:00:00",
          icon: "fa fa-phone"
        },
        {
          name: "Video Call",
          from: "2020-03-14T15:00:00",
          to: "2020-03-14T15:50:00",
          icon: "fa fa-video-camera"
        }
      ]
    },
    {
      name: "Michael",
      ava:
        "https://sun9-8.userapi.com/c855728/v855728689/b0c69/aDhw8I9QovU.jpg?ava=1",
      stickers: [
        {
          name: "Create Documentation",
          from: "2020-03-14T09:00:00",
          to: "2020-03-14T18:00:00",
          background: "rgba(255, 190, 92, 0.27)",
          border: "rgb(202, 124, 8)",
          icon: "fa fa-book"
        }
      ]
    },
    {
      name: "Alex",
      ava:
        "https://sun2.beeline-kz.userapi.com/6Y2Eg_NTl2ELuamXexy7veJKFasQcZK_5zYmow/V5WUx2wv07w.jpg?ava=1",
      stickers: [
        {
          name: "Test ADS",
          from: "2020-03-14T09:00:00",
          to: "2020-03-14T15:00:00",
          background: "rgba(255, 194, 174, 0.5)",
          border: "#FF5722",
          icon: "fa fa-money"
        },
        {
          name: "Send Report",
          from: "2020-03-14T15:15:00",
          to: "2020-03-14T18:30:00"
        }
      ]
    },
    {
      name: "Tan Dei",
      ava:
        "https://sun9-5.userapi.com/c852216/v852216612/1280b9/YvE0_v-hiVs.jpg?ava=1",
      stickers: [
        {
          name: "Mobile Development",
          from: "2020-03-14T09:00:00",
          to: "2020-03-14T20:00:00",
          background: "rgba(167, 224, 100, 0.55)",
          border: "rgb(21, 140, 26)",
          icon: "fa fa-code"
        }
      ]
    },
    {
      name: "Alberto",
      ava:
        "https://sun9-40.userapi.com/c206516/v206516301/80e11/VbtAk5V96GA.jpg?ava=1",
      stickers: [
        {
          name: "Node.js test app",
          from: "2020-03-14T11:00:00",
          to: "2020-03-14T15:00:00",
          background: "rgba(167, 224, 100, 0.55)",
          border: "rgb(21, 140, 26)",
          icon: "fa fa-desktop"
        }
      ]
    },
    {
      name: "Jina",
      ava:
        "https://sun9-69.userapi.com/c824204/v824204526/15ec26/KaKOVg4LJfY.jpg?ava=1",
      stickers: [
        {
          name: "Seo Optimization",
          from: "2020-03-14T10:00:00",
          to: "2020-03-14T16:30:00",
          background: "rgba(255, 194, 174, 0.5)",
          border: "#FF5722",
          icon: "fa fa-rocket"
        },
        {
          name: "Creating ADS",
          from: "2020-03-14T14:00:00",
          to: "2020-03-14T15:00:00"
        }
      ]
    }
  ];

  onSelect($event: any) {    
  }
}
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
}
</style>
